<div class="container">
  <% if session[:user_id] != nil %>
  <h1>Welcome <b><%= User.find(session[:user_id]).username %></b></h1>
  <h2>New Note</h2>
      <form id="new" action='/new' method="post">
        <table class="form">
          <tr><td>Title:</td> <td><input type="text" name="title" size="10"></td></tr>
          <tr><td>Content:</td> <td><textarea name="content" size="50"></textarea></td></tr>
        </table>
        <p><input class="sub_button" type="submit" value="Submit!"></p>
      </form>
  <% else %>
  <h1>Welcome to Notes!</h1>
  <% end %>
</div>
