<div class="container">
  <h1>Note #<%= @note.id %></h1>
  <form id="edit" action="/edit/<%= @note.id %>" method="get">
    <p><input class="sub_button" type="submit" value="edit"></p>
  </form>
  <dl>
    <dt><%= @note.title %></dt>
      <dd><%= @note.content %></dd>
  </dl>
</div>
